@page
@using Simple.Abp.Articles.Web.Front.Shared.Components.Project
@model Simple.Abp.Articles.Web.Front.Pages.ProjectsModel
@{
    ViewBag.Title = "Projects";
}

<div>
    @(await Component.InvokeAsync<ProjectViewComponent>())
</div>

