@model Abp.AspNetCore.Mvc.UI.Theme.Metronic.Themes.Metronic.Components.LanguageSwitch.LanguageSwitchViewComponentModel

<div class="dropdown">
    <!--begin::Toggle-->
    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">           
            <img class="h-20px w-20px rounded-sm" 
                 src="@Model.GetLogoUrl(Model.CurrentLanguage.CultureName)" />
        </div>
    </div>
    <!--end::Toggle-->
    <!--begin::Dropdown-->
    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
        <!--begin::Nav-->
        <ul class="navi navi-hover py-4">
            @foreach (var language in Model.OtherLanguages)
            {
                <li class="navi-item">
                    <a href="/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@Context.Request.Path" class="navi-link">
                        <span class="symbol symbol-20 mr-3">
                            <img src="@Model.GetLogoUrl(language.CultureName)" />
                        </span>
                        <span class="navi-text">@language.DisplayName</span>
                    </a>
                </li>
            }

        </ul>
        <!--end::Nav-->
    </div>
    <!--end::Dropdown-->
</div>