<!--footer-->
<footer id="footer">
    <div class="footer-left">
        <a href="http://beian.miit.gov.cn" target="_blank" class="text-dark-75 text-hover-primary">
            鲁ICP备19044904号-1</a>
        Copyright &copy; 2019-2020
    </div>
    <div class="footer-right">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/writing">Writing</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>

</footer>