<!DOCTYPE html>
<html lang=en>
<head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="@ViewBag.Content">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/logo.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/logo.png">
    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("/Shared/_DefaultStyles.cshtml")
    @await RenderSectionAsync("styles", false)
</head>

<body class="max-width mx-auto px3 ltr">
    <div class="content index py4">
        @await Html.PartialAsync("/Shared/_Header.cshtml")
        @RenderBody()
        @await Html.PartialAsync("/Shared/_Footer.cshtml")
    </div>

    @await Html.PartialAsync("/Shared/_DefaultScripts.cshtml")
    @await RenderSectionAsync("scripts", false)
</body>
</html>

