<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/writing">Writing</a>
</li>
<li>
    <a href="/catalogs">Catalogs</a>
</li>
<li>
    <a href="/tags">Tags</a>
</li>
<li>
    <a href="/bilibili">Bilibili</a>
</li>
<li>
    <a href="/projects">Projects</a>
</li>
<li>
    @if (User.Identity.IsAuthenticated)
    {   
        <a href="/Account/Logout">
            <i class="far fa-id-card"></i>
        </a>
    }
    else
    {
        <a href="/Account/Login">
            <i class="fa fa-user"></i>
        </a>
    }
</li>