@model List<Simple.Abp.Articles.Dtos.ArticleDto>

@foreach (var article in Model)
{
    <li class="project-item">
        <p style="color:#666">@article.Summary</p>
        : <a href="@article.FrontUrl">@article.Title</a>
    </li>
}