@page
@using Microsoft.Extensions.Localization
@using Simple.Abp.Dict.Localization
@model Simple.Abp.Dict.Web.Pages.Dict.IndexModel
@inject IStringLocalizer<DictResource> L
@{
}
<h1>Dict</h1>
<p>@L["SamplePageMessage"]</p>
