@page
@using Simple.Abp.Blog.Web.Front.Shared.Components.About
@using Simple.Abp.Blog.Web.Front.Shared.Components.Project
@using Simple.Abp.Articles.Web.Front.Shared.Components.Article
@model Simple.Abp.Blog.Web.Front.Pages.IndexModel
@{
}

@(await Component.InvokeAsync<AboutViewComponent>())

<section id="writing">
    <span class="h1">
        <a href="/writing">Writing</a>
    </span>

    <ul class="post-list">
        @(await Component.InvokeAsync<ArticleViewComponent>(new { modelList = Model.Articles }))
    </ul>
</section>

<section id="projects">
    <span class="h1">
        <a href="/projects">Projects</a>
    </span>
    <ul class="project-list">
        @(await Component.InvokeAsync<ProjectViewComponent>(new { modelList = Model.Projects }))
    </ul>
</section>

<section id="Bilibili">
    <span class="h1">
        <a href="/bilibili">Bilibili</a>
    </span>
    <ul class="project-list">
        @(await Component.InvokeAsync<ProjectViewComponent>(new { modelList = Model.Videos }))
    </ul>
</section>